<!DOCTYPE html>
<head>
<title>weather</title>
</head>
	<title>Weather</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      background-color:#395693;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
   table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:black;
}

tr:hover{background-color:#f5f5f5}
      
      row{
          background-color: #474e5d;
      }
  </style>

<body>
    
 {{>header}}
    
    <center><h2 style="color:black">{{ place }}</h2></center>
    <br>
    
  <table>
  <tr>
    <th>Temperature</th>
    <th>ApparentTemperature</th>
    <th>Humidity</th>
    <th>ExpectedWeather</th>
    <th>Weather</th>  
  </tr>
  <tr>
     
    <td>  {{  temperature }} </td>
    <td>  {{  apparentTemperature }} </td>
    <td>  {{ humidity }} </td> 
    <td>  {{ expectedweather }} </td>
    <td>  {{ weather }} </td>
    
  </tr>
  
</table>
    
    <div class="row">
    <div class="col-md-9"></div>
        <div class="col-md-3">
          <p >Created by-Ranjan copyright</p>
            
        </div>
    </div>
  
    
    
</body>
